@{
    ViewData["Title"] = "Kontakt os";
}

<section id="contact" class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto text-center">
                <h1 class="display-4">Kontakt os</h1>
                <hr class="my-4">
            </div>
        </div>
        <br />Vi er altid interesseret i at høre fra vores kunder. Send os en besked og vi vender tilbage snarest.
        <br><br />
        <div class="row">
            <div class="col-lg-8 mx-auto">
                Kontakt os på info@bowlinghallen.dk eller 88 88 88 88.
            </div>
        </div>
    </div>
</section>
