@{
    ViewData["Title"] = "Forside";
}

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto text-center">
                <h1 class="display-4">Velkommen til bowlinghallen</h1>
                <hr class="my-4">
            </div>
        </div>
        <p>Oplev spændingen og begejstringen ved at bowle i vores topmoderne facilitet. Uanset om du er en erfaren bowler eller nybegynder, har vi alt, hvad du har brug for til en sjov og underholdende bowlingoplevelse.</p>
        <p>Bowling er en fantastisk aktivitet for venner, familier og kolleger. Det er en fantastisk måde at styrke bånd, konkurrere og skabe varige minder. Vores bane har moderne baner, komfortable siddepladser og en livlig atmosfære, der gør dit besøg behageligt.</p>
        <h2>Hvad kan du forvente hos os?</h2>
        <ul>
            <li>
                <strong>Førsteklasses Bowlingbaner:</strong> Vores baner bliver omhyggeligt vedligeholdt for at give den perfekte overflade at bowle på. Uanset om du sigter efter en strike eller bare ønsker at have det sjovt, er vores baner skræddersyet til dine behov.
            </li>
            <li>
                <strong>Udstyrsudlejning:</strong> Du behøver ikke bekymre dig, hvis du ikke har dit eget bowlingudstyr. Vi tilbyder en række bowlingkugler og sko til leje, så du har alt, hvad du behøver for at spille spillet.
            </li>
            <li>
                <strong>Familievenligt miljø:</strong> Vi byder familier i alle aldre velkommen. Vores bowlingbane er et sikkert og fornøjeligt sted for både børn og voksne. Vi har bumpers og lette kugler til de yngste bowlere for at forbedre deres oplevelse.
            </li>
            <li>
                <strong>Snackbar og forfriskninger:</strong> Få ny energi i vores snackbar. Vi tilbyder forskellige lækre snacks, drikkevarer og forfriskninger, så du kan nyde en pause mellem spil.
            </li>
            <li>
                <strong>Events og turneringer:</strong> Hold øje med vores kommende events og turneringer. Vi arrangerer regelmæssige konkurrencer, temaarrangementer og specielle begivenheder, hvor du kan udfordre dine venner eller møde nye bowlingentusiaster.
            </li>
        </ul>
        <p>Kom og besøg vores bowlingbane i dag og lad os give dig en uforglemmelig bowlingoplevelse. Vi ser frem til at byde dig velkommen!</p>
    </div>
</body>
</html>