@model BowlingMVC.Models.Booking
@{
    ViewData["Title"] = "Annullér booking";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto text-center">
            <h1 class="display-4">Annulléring</h1>
            <hr class="my-4">
        </div>
    </div>
    Denne funktion er desværre ikke implementeret online endnu.<br />
    Hvis du vil annullere en booking, bedes du ringe til os på 88 88 88 88.


</div>