@model BowlingMVC.Models.Booking
@{
    ViewData["Title"] = "Book en bane";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto text-center">
            <h1 class="display-4">Her kan du booke en bane, eller flere</h1>
            <hr class="my-4">
        </div>
    </div>
    Hvis du har booket før, har vi gemt dine informationer, og behøver kun dit telefonnummer.<br /><br />
    <form asp-controller="Booking" asp-action="Index" method="post">
        <legend>Indtast dine oplysninger</legend>
        <br />
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="Phone">Telefonnummer</label>
                <input type="tel" name="Phone" class="form-control" id="Phone" value="@Model?.Customer?.Phone" placeholder="Telefonnummer" required>
                <span asp-validation-for="Customer.Phone" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label for="StartDateTime">Ønsket dato og tidspunkt</label>
                <input type="datetime-local" name="StartDateTime" class="form-control" id="bookingDateTimeInput" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="NofPlayers">Antal spillere</label>
                <select class="form-control" name="NoOfPlayers" id="NoOfPlayers" required>
                    <option value="">Vælg antal spillere</option>
                    @for (int i = 1; i <= 6; i++)
                    {
                        <option value="@i">@i spillere</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="HoursToPlay">Hvor mange timer vil i spille?</label>
                <select class="form-control" name="HoursToPlay" id="HoursToPlay" required>
                    <option value="">Vælg antal timer</option>
                    @for (int i = 1; i <= 4; i++)
                    {
                        <option value="@i">@i timer</option>
                    }
                </select>
            </div>
        </div>
        <br />
        <button type="submit" class="btn btn-warning">Bekræft</button>
    </form>
</div>

<script>
    // Get the booking date and time input element
    var bookingDateTimeInput = document.getElementById('bookingDateTimeInput');
    var dateValidationMessage = document.getElementById('dateValidationMessage');

    bookingDateTimeInput.addEventListener('input', function () {
        var date = new Date(this.value);
        // Take calculation for timezone
        var timeZoneOffset = date.getTimezoneOffset();
        date.setMinutes(date.getMinutes() - timeZoneOffset);
        // Set minutes to zero
        date.setMinutes(0);
        this.value = date.toISOString().slice(0, 16);
    });
</script>