@model List<BowlingMVC.Models.Price>
@{
    ViewData["Title"] = "Priser";

}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Prisliste</h1>
    </div>

    <div class="price-list-container">
        @foreach (var price in Model)
        {
            <div class="price-item">
                <h2>@price.Weekday</h2>
                <p>
                    <span class="price-value">@price.NormalPrice kr. pr. time</span>
                </p>
            </div>
        }
    </div>
</div>